.navbar_menu{
    list-style: none;
    display: flex;
    margin-right: 100px;

    
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 100;
}
.navbar_menu_item{
    margin: 20px;
    font-weight: lighter;
    font-size: 20px;
     
}

.logo{
    display: flex;
    color: white;
}
#header{
    display: flex;
    align-items: center;
    min-height: 70px;
    
}
.first_page{
    height: 100vh;
    background-color: rgb(20, 135, 243);
}
.navbar_menu_item1

.for_i{
    color: white;
    
    right: 40px;
}


.container{
    width: 1200px;
    margin: 0 30px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span_business{
    margin: 8px;
}

.word{
    color: white;
    font-weight: 900;
    font-size: 25px;
    width: 500px;
    position:relative;
    left: 10%;
    top: 10%;
    
}
.sentences{
    font-size: 18px;
    font-weight: 100;
    
}
.start_but{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:medium;
    margin-top: 50px;
    color:blue;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
.watch_but{
    padding: 12px;
    border-radius: 50px;
    border: none;
}
.watch_intro{
    font-size: 18px;
}
.main_image{
    object-fit: cover;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    right: 200px;
    top: 200px;
   
}
.second_page{
  
    background-color: white;
}
.second_image{
    margin: 50px;
    justify-content: space-around;
}
.second_div{
    display: flex;
}
.h1_class{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.h2_class{
    width: 300px;
}
.hs_class{
    display: block;
    margin-top: 90px;
    align-items: center;
    height: 499px;
}
.who_button{
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: medium;
    display: inline-block;
    margin: 10px;
    
}
.vision_button{
    padding: 12px;
    border-radius: 10px;
    border: none;
    color:black;
    font-size: medium;
    display: inline-block;
    margin: 10px;
}
.history_button{
    padding: 12px;
    border-radius: 10px;
    border: none;
    color:black;
    font-size: medium;
    display: inline-block;
    margin: 10px;
}
.second_buttons{
    background-color:rgb(239,239,239);
    
}


.second_text{
    opacity: 0.5;
    width: 500px;
    
}
.third_page{
    position: relative;
}
.third_button{
    padding: 12px;
    border-radius: 30px;
    border-color: blue;
    color:blue;
    font-size: small;
    position: absolute;
    top: 100px;
    left: 50%;
}
.h3_class{
    position: absolute;
    top: 120px;
    left: 45%;
    font-size: 40px; 
}
.text_third{
    position: absolute;
    top: 210px;
    left: 40%;
    width: 490px;
    font-size:medium;
    opacity: 0.7;
}